<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Pyledriver</title>
	
	<link rel="stylesheet" type="text/css" href="{{ url_for('siteRoot.static', filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('siteRoot.static', filename='css/pyledriver.css') }}">

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/webrtc-adapter/3.4.3/adapter.min.js" ></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.2/jquery.min.js" ></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.2/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.1.0/bootbox.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>

	{% if janusRunning %}
	  <script type="text/javascript" src="{{ url_for('siteRoot.static', filename='janus.js') }}"></script>
	  <script type="text/javascript" src="{{ url_for('siteRoot.static', filename='streamingtest.js') }}"></script>
	{% endif %}
</head>

<body>
	<div class="navbar navbar-inverse navbar-static-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<span class="navbar-text"><b>Status: </b><span>{{ state }}</span></span>
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navRight">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse" id="navRight">
				<ul class="nav navbar-nav">
					<form action="{{ url_for('siteRoot.index') }}" method="post" name="text_to_speech" class="navbar-form" role="search">
						{{ ttsForm.hidden_tag() }}
						<div class="form-inline">
							<div class="form-group">{{ ttsForm.tts(class_="form-control") }}</div>
							{{ ttsForm.submitTTS(class_="btn btn-default") }}
						</div>
					</form>
				</ul>
				{% if janusRunning %}
				  <ul class="nav navbar-nav navbar-right">
					  <li class="dropdown">
						  <a id="streamset" class="dropdown-toggle" data-toggle="dropdown">
							  Pick Stream<span class="caret"></span>
						  </a>
						  <ul id="streamslist" class="dropdown-menu" role="menu"></ul>
					  </li>
					  <button class="btn btn-default navbar-btn" autocomplete="off" id="watch">Start</button>
				  </ul>
				{% endif %}
			</div>
		</div>
	</div>
	<div class="container-fluid body-content">
      <div class="col-md-6">
		{% if janusRunning %}
          <div id="stream"></div>
          <p class="hide" id="status">
		{% else %}
          <p>Janus not running. Streaming not available.</p>
          <form action="{{ url_for('siteRoot.index') }}" method="post" name="janus_running" class="navbar-form" role="search">
            {{ janusRestart.hidden_tag() }}
            {{ janusRestart.submitRestart(class_="btn btn-default") }}
          </form>
		{% endif %}
      </div>
    </div>
</body>

</html>
